html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: none; }

@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?81621583");
  src: url("fonts/fontello.eot?81621583#iefix") format("embedded-opentype"), url("fonts/fontello.woff?81621583") format("woff"), url("fonts/fontello.ttf?81621583") format("truetype"), url("fonts/fontello.svg?81621583#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Raleway', sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 1.1; }

h2 {
  color: #50ccb7;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px; }

h3 {
  font-weight: 600;
  font-size: 110%; }

em {
  font-weight: 600; }

p {
  margin-top: 10px; }

a {
  color: #50ccb7;
  text-decoration: none; }

#logo {
  width: 200px;
  height: 200px; }

.table {
  display: table; }

.row {
  display: table-row; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.maincolorBG {
  background: #50ccb7;
  color: #FFF; }

.maincolorBG h2 {
  color: #FFF; }

.fullscreen {
  width: 100%;
  height: 100%; }

.fullscreen svg {
  margin-top: 25px; }

.content {
  text-align: center;
  padding: 50px 25px; }

.centermsg {
  font-weight: 100;
  text-align: center;
  font-size: 48px;
  display: table-cell;
  vertical-align: middle; }

.centermsg span {
  font-weight: 400; }

.forcebreak:after {
  content: "\A";
  white-space: pre; }

.iconfont {
  font-family: 'fontello';
  font-size: 30px; }

.absolutecenter {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 0;
  text-align: center; }

.roundimg {
  border-radius: 50%;
  margin-top: 25px; }

.self {
  width: 320px; }

.logofixed {
  position: fixed;
  left: 10px;
  top: 10px;
  display: none;
  z-index: 99; }

.logofixed svg {
  width: 90px;
  height: 90px; }

/* HAMBURGER MENU STYLEN */
.menui {
  background: #FFF;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute; }

.icon {
  z-index: 999;
  position: fixed;
  display: block;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 0;
  right: 0; }

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #50ccb7;
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 25px; }

.mobilenav li a {
  font-size: 200%;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  width: 100%; }

.shownav {
  visibility: visible;
  opacity: 0.9;
  transition-delay: 0s; }

.top-animate {
  background: #FFF !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.mid-animate {
  opacity: 0; }

.bottom-animate {
  background: #FFF !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg); }

.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #FFF; }

.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #FFF; }

.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: #FFF; }

.black .top-menu,
.black .mid-menu,
.black .bottom-menu {
  background-color: #000; }

.mobilenav ul {
  display: table-cell;
  vertical-align: middle; }

/* MASONRY */
#container {
  margin: 0 auto; }

.item {
  width: 400px;
  height: 300px;
  margin-bottom: 25px;
  overflow: hidden; }

.overlay {
  position: absolute;
  color: #FFF;
  width: 100%;
  height: 100%;
  background: #50ccb7;
  z-index: 9;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out 0s;
  display: table;
  padding: 25px; }

.overlay a {
  background: none;
  border: solid 2px #FFF;
  padding: 15px;
  color: #FFF;
  margin-top: 15px;
  display: inline-block; }

.toggleMenu .overlay {
  transform: translatey(0); }

/* SKILLSET */
.star {
  font-family: 'fontello';
  font-size: 38px; }

.starfull::before {
  content: "\e802";
  margin-right: 10px; }

.starempty::before {
  content: "\e803";
  margin-right: 10px; }

.skillset {
  border: solid 4px #FFF;
  padding: 25px;
  width: 80%;
  margin: 10px auto 0 auto;
  font-size: 120%; }

.skillset .cell {
  text-align: left;
  line-height: 38px; }

/* CONTACT FORMULIER */
.contact {
  background: repeating-linear-gradient(45deg, #CC5065, #CC5065 20px, #ffffff 20px, #ffffff 40px, #58a9c9 40px, #58a9c9 60px, #ffffff 60px, #ffffff 80px);
  padding: 10px;
  border: solid #DDD 1px; }

.contactform {
  padding: 50px;
  background: #f0f0f0;
  text-align: left; }

.contactform a {
  clear: left;
  font-size: 24px; }

.contactform a:after {
  content: "\A";
  white-space: pre; }

.contactform h2 {
  color: #444; }

/* MEDIUM SIZE */
@media (min-width: 640px) {
  .centermsg {
    font-size: 64px; } }
/* LARGE SIZE */
@media (min-width: 960px) {
  .centermsg {
    font-size: 78px; }

  #logo {
    width: 250px;
    height: 250px; } }
/* OVERWRITES */
div.pp_details {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
