$white:    #FFF;
$bodyfont: 'Open Sans', sans-serif;
$lobster:'Lobster', cursive;
$blue:#87A1D4;
$yellow:#F6FD97;
$black:#000;
$red:#FF9D98;
$darkgrey:#292729;
$lightyellow:#FBFED6;
$green:#87E292;

$phonebody:48px;
$phonesmaller:30px;
$midbody:54px;
$midsmaller:48px;
$bigbody:64px;
$bigsmaller:58px;

