@media (min-width: 450px) {
	.centermsg {
		font-size: 64px;
	}
	.star {
		font-size: 26px;
	}
	.skillset .cell {
		line-height: 26px;
	}
	.hamburger {
		width: 50px;
		height: 50px;
		right: 10px;
		top: 5px;
		position: absolute;
	}
	.top-menu {
		top: 5px*2-10;
		width: 25px*2;
		height: 2px*2;
		border-radius: 10px*2;
		background-color: $light;
	}
	.mid-menu {
		top: 13px*2-10;
		width: 25px*2;
		height: 2px*2;
		border-radius: 10px*2;
		background-color: $light;
	}
	.bottom-menu {
		top: 21px*2-10;
		width: 25px*2;
		height: 2px*2;
		border-radius: 10px*2;
		background-color: $light;
	}
	.content {
		padding: 50px 25px;
	}
	.item {
		width: 400px;
		height: 300px;
	}
}