@media (min-width: 721px) {
	.centermsg {
		font-size: 64px;
	}
	.star {
		font-size: 26px;
	}
	.skillset .cell {
		line-height: 26px;
	}
	.item {
		width: 400px;
		height: 300px;
		margin-bottom: 25px;
		overflow: hidden;
		font-size: 18px;
	}
}