@media (min-width: 640px) {
	#logo {
		width: 200px;
		height: 200px;
	}
	.centermsg {
		font-size: 64px;
	}
	.star {
		font-size: 26px;
	}
	.skillset {
		font-size: 20px;
		.cell {
			line-height: 26px;
		}
	}
	.skilllevel {
		height: 22px;
	}
	.logofixed img {
		width: 80px;
		height: 80px;
	}
	.hamburger {
		right: 10px;
		top: 5px;
		position: absolute;
		width: 35px;
		height: 35px;
	}
	.top-menu {
		top: 0;
		width: 35px;
		height: 3px;
		background-color: $light;
	}
	.mid-menu {
		top: 10px;
		width: 35px;
		height: 3px;
		background-color: $light;
	}
	.bottom-menu {
		top: 20px;
		width: 35px;
		height: 3px;
		background-color: $light;
	}
	.content {
		padding: 50px 25px;
	}
	.item {
		font-size: 16px;
		width: 400px;
		height: 300px;
	}
}