@media (min-width: 980px) {
	.splashlogo {
		width: 250px;
		height: 250px;
	}
	.centermsg {
		font-size: 78px;
	}
	.star {
		font-size: 40px;
	}
	.skillset {
		font-size: 28px;
		width: 60%;
		.cell {
			line-height: 40px;
		}
	}
	.skilllevel {
		height: 30px;
	}
	.logofixed, .logofixed img {
		width: 100px;
		height: 100px;
	}
	.centercontainer {
		display: flex;
		justify-content: center;
	}
	.rightfloat {
		float: left;
		width: 40%;
		margin-left: 20px;
		padding: 0;
		text-align: left;
		.buttonLight {
			width: 60%;
			text-align: center;
		}
		.buttonLight:first-child, p:first-child {
			margin-top: 0;
		}
	}
	.rightfloat form {
		padding: 8%;		
	}
	.leftfloat {
		float: left;
		width: 40%;
		text-align: right;
		margin-right: 20px;		
	}
}