@media (min-width: 980px) {
	#logo {
		width: 250px;
		height: 250px;
	}
	.centermsg {
		font-size: 78px;
	}
	.star {
		font-size: 40px;
	}
	.skillset {
		font-size: 28px;
		width: 60%;
		.cell {
			line-height: 40px;
		}
	}
	.skilllevel {
		height: 30px;
	}
	.logofixed img {
		width: 100px;
		height: 100px;
	}
	.centercontainer {
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
	}
	.gunform {
		float: left;
		width: 40%;
		margin-left: 20px;
		padding: 0;
	}
	.gunform form {
		padding: 5%;
	}
	.desc-gun {
		float: left;
		width: 40%;
		text-align: right;
		margin-right: 20px;
	}
}