@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';

body {
	font-family: 'Raleway', sans-serif;
	color: #444;
	font-size: 20px;
	line-height: 1.1;
}
h2 {
	color: $maincolor;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
h3 {
	font-weight: 600;
	font-size: 110%;
}
em {
	font-weight: 600;
}
p {
	margin-top:20px;
}
a {
	color: $maincolor;
	text-decoration: none;
}
#logo {
	width: 120px;
	height: 120px;
}
#scrolldown {
	cursor: pointer;
	cursor: hand;
}
.cursive {
	font-style: italic;
}
.clear {
	clear: both;
}
.table {
	display: table;
}
.row {
	display: table-row;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}
.maincolorBG {
	background: $maincolor;
	color: $light;
	h2 {
		color: $light;
	}
}
.fullscreen {
	width: 100%;
	height: 100%;
	display: table;
	svg{
		margin-top: 25px;
	}
}
.content {
	text-align:center;
	padding: 50px 0;
}
.centermsg {
	font-weight: 100;
	text-align: center;
	font-size: 48px;
	display: table-cell;
	vertical-align: middle;
	a {
		color: #FFF;
		display: block;
	}
	a:hover {
		text-decoration: underline;
	}
	span {
		font-weight: 400;
	}
}
.forcebreak:after {
	content: "\A";
	white-space: pre;
}
.buttonLight span {
	font-family: 'fontello';
	display: inline-block;
}
.absolutecenter {
	position: absolute;
	width:100%;
	bottom: 2%;
	left:0;
	text-align: center;
}
.roundimg {
	border-radius: 50%;
	margin-top: 25px;
}
.self {
	width: 320px;
}
.logofixed {
	position: fixed;
	left: 10px;
	top: 10px;
	display: none;
	z-index: 99;
	img {
		width: 50px;
		height: 50px;
	}
}
/* MENU STYLEN */
$nav-size: 50px;
$nav-color: $light;
$nav-color-active: $maincolor;
$hasBackground: true;

$animation-time: 300ms;
$animation-easing: ease-in-out;

$z-index-navigation-button: 500;
$z-index-navigation-inner: $z-index-navigation-button + 25;

@if $hasBackground == false {
  $nav-color: $nav-color-active;
}

* {box-sizing: border-box;}

.material--burger {
	cursor: pointer;
	padding: ($nav-size / 4);
	position: relative;
	width: $nav-size;
	height: $nav-size;
	float: right;
	z-index: 2;
	margin: 10px 10px 0 0;

@if $hasBackground == true {
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $nav-color-active;
		animation: material-menu-background $animation-time $animation-easing forwards;
	}
}

	span {
		top: 50%;
		transform-origin: center center;
		animation-name: material-menu;

		&, &:before, &:after {
			width: ($nav-size / 2);
			background-color: $nav-color;
			height: ceil($nav-size / 20);
			position: absolute;
			z-index: $z-index-navigation-inner;
			animation-duration: $animation-time;
			animation-fill-mode: forwards;
			animation-timing-function: $animation-easing;
			transition: background-color $animation-time $animation-easing;
		}

		&:before, &:after {
			content: '';
			display: block;
		}

		&:before {
			top: 300%;
			transform-origin: left bottom;
			animation-name: material-menu-before;
		}

		&:after {
			bottom: 300%;
			transform-origin: left top;
			animation-name: material-menu-after;
		}
	}

	&.material--arrow {
    @if $hasBackground == true {
      &:after {
        animation: material-arrow-background $animation-time $animation-easing forwards;
      }
    }

		span, span:before, span:after {
			animation-duration: $animation-time;
			animation-fill-mode: forwards;
			animation-timing-function: $animation-easing;
			background-color: $nav-color-active;
		}
		span 		{animation-name: material-arrow;}
		span:before {animation-name: material-arrow-before;}
		span:after 	{animation-name: material-arrow-after;}
	}
}

@if $hasBackground == true {
  @keyframes material-arrow-background {
    100% 	{ transform: rotate(180deg) scale(0); }
  }

  @keyframes material-menu-background {
    0% 		{ transform: rotate(180deg) scale(0); }
    100% 	{ transform: rotate(360deg) scale(1); }
  }
}

@keyframes material-arrow {
	100% 	{ transform: rotate(180deg); }
}

@keyframes material-arrow-before {
	100% 	{ top: 0; transform: rotate(-40deg) scaleX(0.7); }
}

@keyframes material-arrow-after {
	100% 	{ bottom: 0; transform: rotate(40deg) scaleX(0.7);}
}

@keyframes material-menu {
	0% 		{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}

@keyframes material-menu-before {
	0% 		{ top: 0; 		transform: rotate(-40deg) scaleX(0.7); }
	100% 	{ top: 300%; 	transform: rotate(0) scaleX(1); }
}

@keyframes material-menu-after {
	0% 		{ bottom: 0; 	transform: rotate(40deg) scaleX(0.7); }
	100% 	{ bottom: 300%; transform: rotate(0) scaleX(1); }
}
.mobilenav {
	width: 300px;
	background: $light;
	clear: both;
	position: absolute;
	right: -300px;
	top: $nav-size+10;
	padding: 20px 40px;
	height: 100%;
	-webkit-transition: right $animation-time;
    transition: right $animation-time;
	z-index: 2;
	li a{
		padding: 20px 0;
		display: block;
		position: relative;
		text-decoration: none;
		color: $maincolor;
	}
	li a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $maincolor;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	li a:hover{
		color: $maincolor;
	}
	li a:hover:before{
		color: $maincolor;
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
.navcontainer {
	position: fixed;
	right: 0;
	height: 100%;
	z-index: 1000;
}
.menuactive {
	right: 0;
}
.fulloverlay {
	background: #444;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	display: none;
}
/* MASONRY */
#container {
  margin: 0 auto;
}
.item {
	width: 320px;
	height: 240px;
	margin-bottom: 25px;
	overflow: hidden;
	font-size: 14px;
}
.overlay {
	position: absolute;
	color: $light;
	width: 100%;
	height: 100%;
	background: $maincolor;
	z-index: 9;
	top: 0;
	transform: translateY(-100%);
    transition: all 0.3s ease-in-out 0s;
	display: table;
	.cell {
		padding: 25px;
	}
}
.overlay a,
.buttonLight {
	background: none;
	border: solid 2px $light;
	padding: 15px;
	color: $light;
	margin-top: 15px;
	display: inline-block;
}
.buttonLight {
	background: $light;
	border: solid 2px $maincolor;
	color: $maincolor;
	margin-top: 25px;
}
.buttonLight:hover {
	background: $maincolor;
	border-color: $maincolor;
	color: $light;
}
.toggleMenu .overlay {
	transform: translatey(0);
}
/* SKILLSET */
.skilltable {
	display: table;
	width: 100%;
}
.skillname {
	display: table-cell;
	width: 40%;
	text-align: left;
}
.skilllevel {
	display: block;
	height: 18px;
	width: 60%;
	background: $light;
}
.skillset {
	border: solid 4px $light;
	padding: 25px;
	width: 80%;
	margin: 25px auto 0 auto;
	font-size: 14px;
	position: relative;
	.cell {
		text-align: left;
		line-height: 26px;
	}
	.row {
		display: none;
	}
	.row:nth-child(-n+5){
		display: table-row;
	}
}
.showmore {
	display: block;
	text-align: right;
	color: $light;
	font-size: 14px;
	margin-top: 15px;
}
/* CONTACT FORMULIER */
input[type="submit"] {
	border: solid 2px $maincolor;
	background: $light;
	color: $maincolor;
	font-weight: normal;
	cursor: pointer;
	cursor: mouse;
	padding: 15px;
}
input[type="submit"]:hover {
	background: $maincolor;
	border-color: $light;
	color: $light;
}
.rightfloat {
	background:$light;	
	margin-top: 20px;
	text-align: center;
}
.rightfloat form {
	padding: 10%;
}
.group {
	position:relative;
	margin-bottom:45px;
}
input, textarea {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid $maincolor;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}
input:focus, textarea:focus {
	outline:none;
}
label {
	color:$maincolor;
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
	top:-20px;
	font-size:14px;
	color:$maincolor;
}
.bar {
	position:relative;
	display:block;
	width:100%;
}
.bar:before, .bar:after {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:$maincolor;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}
textarea ~ .bar:before, textarea ~ .bar:after {
	height: 3px;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after  {
	width:50%;
}
.highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
}
input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
textarea:focus ~ .highlight {
	-webkit-animation:textareaHighlighter 0.3s ease;
	-moz-animation:textareaHighlighter 0.3s ease;
	animation:textareaHighlighter 0.3s ease;
}
@-webkit-keyframes textareaHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes textareaHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
@keyframes textareaHighlighter {
	from { background:$maincolor; }
  to 	{ width:0; background:transparent; }
}
.content.contact {
    background: repeating-linear-gradient(
		45deg,
		#CC5065,
		#CC5065 20px,
		#ffffff 20px,
		#ffffff 40px,
		#58a9c9 40px,
		#58a9c9 60px,
		#ffffff 60px,
		#ffffff 80px
    );
    padding: 10px;
    border: solid #DDD 1px;
}
.contactform {
	padding: 50px;
	background: #f0f0f0;
	text-align: left;
	a {
		clear: left;
		font-size: 24px;
	}
	a:after {
		content:"\A";
		white-space:pre;
	}
	h2 {
		color: #444;
	}
}
.tegenrotzooi {
	display: none;
}

/* MEDIUM SIZE */
@import 'size_med.scss';

/* LARGE SIZE */
@import 'size_large.scss';

/* OVERWRITES */
@import 'overwrites.scss';
